<block-ui>
<div class="changePassword">
    <mat-toolbar class="header">
        <mat-toolbar-row>         

        <div fxFlex fxLayout="row" fxLayoutAlign="start end">
            <span class="fileTransferTitle">FILE TRANSFER APPLICATION</span>             
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngIf="APP_CONSTANT.isUAT">
            <h2 class="gradient-multiline" style="font-weight: 500;"><span>UAT APPLICATION</span></h2>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            
        </div>
                
        </mat-toolbar-row>
        
    </mat-toolbar>
    <div class="card changePasswordContainer" *ngIf="isOnline">

        <div class="navigateToLogin" style="text-align: end;">
            <span class="login-button" (click)="goBack()">  <i class="fa fa-close" aria-hidden="true"></i></span> 
        </div>


        <div style="margin-left: 40%;">
            <ngx-avatar [name]="loggedInUsername">            
            </ngx-avatar>
    
        </div>

        <div class="loggedInUser"  style="margin-right: 5%;">
            {{loggedInUsername}}
        </div>

        
       
       
     
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()" autocomplete="off">
           

            <mat-form-field class="example-full-width">
                <mat-label>Current Password </mat-label>
                <input matInput formControlName="currentPassword" [type]="fieldTextTypeForCurrentPass ? 'text' : 'password'">
                <span matSuffix >
                    <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextTypeForCurrentPass,
                      'fa-eye': fieldTextTypeForCurrentPass
                    }"
                    (click)="toggleFieldTextTypeCurrentPass()"
                  ></i>
                </span>                 
            </mat-form-field>
            <br>
            <sup style="color: #f44336;;font-size: small;font-weight: 500;" *ngIf="isCurrentPwdInvalid">
                Invalid current password
            </sup>
            
            
            
            
            <mat-form-field class="example-full-width" >
                <mat-label>New Password </mat-label>
                <input matInput formControlName="newPassword" [type]="fieldTextTypeForPass ? 'text' : 'password'">
                <span matSuffix >
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForPass,
                        'fa-eye': fieldTextTypeForPass
                      }"
                      (click)="toggleFieldTextTypePass()"
                    ></i>
                </span> 
                
                <mat-error class="password_req_not_match">
                    Password should be atleast 8 characters long and should contain one number ,one character, and one special character
                  </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password </mat-label>
                <input matInput formControlName="confirmNewPassword" [errorStateMatcher]="errorMatcher" [type]="fieldTextTypeForConfPass ? 'text' : 'password'">
                <span matSuffix >
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForConfPass,
                        'fa-eye': fieldTextTypeForConfPass
                      }"
                      (click)="toggleFieldTextTypeConfPass()"
                    ></i>
                </span>   
                <!-- <mat-error class="err-msg" *ngIf="changePasswordForm.errors?.passwordMismatch && (changePasswordForm.touched || changePasswordForm.dirty)">
                    confirm-password does not match password
                 </mat-error>  -->

                 <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
                    Password do not match!
                  </mat-error>
                
            </mat-form-field>
           
            <mat-form-field class="example-full-width">
                <mat-label>Password Hint (Optional)</mat-label>
                <input matInput formControlName="passwordHint">
                <span matSuffix >
                    <i class="fa fa-info-circle"></i>
                </span>                 
            </mat-form-field>

            <br>

            <button mat-raised-button color="primary" class="submitBtn">Change Password
                <mat-icon>keyboard_tab</mat-icon>
            </button>

          </form>

          <div class="note" *ngIf="!loggedInUserRole">
            Note: For first time login changing of password is mandatory
        </div>
    </div>

    <div class="card changePasswordContainer" *ngIf="!isOnline">
        <div>
            <i class="fas fa-exclamation-triangle fa-2x" ></i>
        </div>
        <div class="verifyAccText">
            No Internet 
        </div>
        <div class="verifyLinkText" style="color: red;">
            Please check the internet connection and try again 
        </div>
    </div>    

    
</div>
</block-ui>
