<div class="forgotPassword">
    <mat-toolbar class="header">
        <mat-toolbar-row>
    
            <div fxFlex fxLayout="row" fxLayoutAlign="start end">
                <span class="fileTransferTitle">FILE TRANSFER APPLICATION</span>             
            </div>
    
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngIf="APP_CONSTANT.isUAT">
                <h2 class="gradient-multiline" style="font-weight: 500;"><span>UAT APPLICATION</span></h2>
            </div>
    
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                
            </div>
            
    
        </mat-toolbar-row>
        
    </mat-toolbar>
    <div class="card forgotPasswordContainer"  *ngIf="step1 && isOnline">
        <!-- <div style="margin-left: 40%;">
            <ngx-avatar [name]="enteredUserName">            
            </ngx-avatar>
    
        </div>

        <div class="enteredUserName">
            {{enteredUserName}}
        </div> -->

        <div class="cancel-icon" style="text-align: end;">
            <span class="cancel-button" (click)="navigateToLogin()">  <i class="fa fa-close" aria-hidden="true"></i></span> 
        </div>

        <div class="img">
            <img src="../../../assets/lock.svg" width="35" height="35">
		</div>
        <br>
        <p class="forgot">RESET YOUR PASSWORD</p>
        <p class="forgot-text">Please provide your email for which account you want to reset your password</p>
       
     
        <form [formGroup]="forgotPasswordUserForm" (ngSubmit)="generateOtpForForgotPasswordUser()" autocomplete="off">
        

            <mat-form-field  class="example-full-width">
                <mat-label>Type your Email </mat-label>
                <input matInput type="email" 
                formControlName="email" [(ngModel)]="enteredUserName">
                <mat-error *ngIf="forgotPasswordUserForm.hasError('email')">
                    Passwords do not match!
                  </mat-error>
            </mat-form-field>           

            <br>

            <button mat-raised-button color="primary" class="submitBtn">Generate OTP
                <mat-icon>keyboard_tab</mat-icon>
            </button>

          </form>
    </div>

    <div class="card forgotPasswordContainer" *ngIf="step2 && isOnline">
        <div style="margin-left: 40%;">
            <ngx-avatar [name]="user.email">            
            </ngx-avatar>
    
        </div>
        
        <br>

        <div class="enteredUserName">
            {{user.email}}
        </div>
        <br>
     
        <form >
           
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
        
            <br>

            <div class="forgot-text">
                Please Enter the verification code which you have received in your Email Id
             </div>

             <br>

            <button mat-raised-button color="primary" class="submitBtn" (click)="validateOtp()">Validate OTP
                <mat-icon>keyboard_tab</mat-icon>
            </button>

           <br><br>

            <div class="regenOTPDiv" *ngIf="timer">
                
                <p (click)="countdownFinished?regenOTP():''"   [ngClass] = "countdownFinished ? 'resendOTPEnable' : 'resendOTPDisable'">
                      Click here to regenearte OTP </p>
                <countdown class="timer" #cd [config]="countDownConfig" (event)="handleEvent($event)">$!m!:$!s!</countdown>
            </div>

          </form>

          


    </div>


    <div class="card forgotPasswordContainer" *ngIf="step3 && isOnline">
        <!-- <div style="margin-left: 40%;">
            <ngx-avatar [name]="user.email">            
            </ngx-avatar>
    
        </div>

        <div class="loggedInUser">
            {{user.email}}
        </div> -->

        <div class="img">
            <img src="../../../assets/password.svg" width="35" height="35">
        </div>
        <p class="forgot">NEW PASSWORD</p>
        <p class="forgot-text">Your identity has been verified, set your new password</p>
       
       
        <br>    
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()" autocomplete="off">
           

            <mat-form-field class="example-full-width">
                <mat-label>New Password </mat-label>
                <input matInput formControlName="newPassword" [type]="fieldTextTypeForPass ? 'text' : 'password'">
                <span matSuffix >
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForPass,
                        'fa-eye': fieldTextTypeForPass
                      }"
                      (click)="toggleFieldTextTypePass()"
                    ></i>
                </span>   
                
                <mat-error style="font-weight: 500;">
                    Password should be atleast 8 characters long and should contain one number ,one character and one special character
                </mat-error>
            </mat-form-field>

            <br><br>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password </mat-label>
                <input matInput formControlName="confirmNewPassword" [errorStateMatcher]="errorMatcher" [type]="fieldTextTypeForConfPass ? 'text' : 'password'">
                <span matSuffix >
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForConfPass,
                        'fa-eye': fieldTextTypeForConfPass
                      }"
                      (click)="toggleFieldTextTypeConfPass()"
                    ></i>
                </span>   
                

                 <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
                    Passwords do not match!
                  </mat-error>
                
            </mat-form-field>
           
           

            <br>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Password Hint (Optional)</mat-label>
                <input matInput formControlName="hint">
                <span matSuffix >
                    <i class="fa fa-info-circle"></i>
                </span>                 
            </mat-form-field>

            <button mat-raised-button color="primary" class="submitBtn">Update Password
                <mat-icon>keyboard_tab</mat-icon>
            </button>

          </form>
    </div>

    <div class="card forgotPasswordContainer" *ngIf="!isOnline">
        <div>
            <i class="fas fa-exclamation-triangle fa-2x" ></i>
        </div>
        <div class="verifyAccText">
            No Internet 
        </div>
        <div class="verifyLinkText" style="color: red;">
            Please check the internet connection and try again 
        </div>
    </div>
    
</div>