@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


// .header-align-right {
//     text-align: center;
//     justify-content: flex-start;
//   }

  .mat-cell {
    font-family: 'Josefin Sans', sans-serif;   
  }

  i{
  cursor: pointer;
  }


  .mat-column-email {
   // flex: 0 0 250px;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-right: 50px;

  /* word-wrap: break-word !important;
  white-space: unset !important;
  width: 250px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; */

  }

  // .mat-column-genDateTime {
  //   flex: 0 0 130px;
  // }

  // .mat-column-link {
  //   flex: 0 0 50px;
  // }

  // .mat-column-code{
  //   flex: 0 0 100px;
  // }

  .mat-column-code,.mat-column-link, .mat-column-totalDays, .mat-column-pendingDays, .mat-column-extendedDays,.mat-column-cancelRequest,.mat-column-loginStatus,.mat-column-status{
    text-align: center;
    justify-content:center;
  }

  // .mat-column-loginStatus,.mat-column-status{
  //   flex: 0 0 110px;
  // }

  // .mat-column-totalDays, .mat-column-pendingDays, .mat-column-extendedDays,.mat-column-cancelRequest{
  //   flex: 0 0 80px;
  // }

  .extendDays {
    width: 100%;
    text-align: center;
    -moz-appearance: textfield;
    cursor: pointer;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
  
  .increment-input {
    display: block;
    width: 95px;
    font-size: 20px;
    margin: 0 auto;
   
  }


  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .example-margin {
    margin: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .filterTitle{
    font-family: 'Josefin Sans', sans-serif;
  }

  .filterSubmitBtn{
    text-align: center;
  }

  .table-container{
    max-height: 500px;
    overflow: auto;
  }




  /* RESPONSIVE CODE */
  @media screen and (max-width: 1300px ) and (min-width :650px){
  
    .mat-cell{
      font-size: small;
    }

    .mat-header-cell{
      font-size: xx-small;
    }

    .generateBtn{
      font-size: xx-small;
    }
  }


  @media screen and (max-width: 650px) {
    .mat-elevation-z8 {
      background: transparent;
      box-shadow: none;
    }
  
    .mat-header-row {
      display: none;
    }
  
  
    .mat-column-email, .mat-column-genDateTime{
      text-align: center
    }
  
    tbody {
      display: block;
      width: 100%;
    }
    
    .mat-table {
      background: transparent;
      * {
        box-sizing: border-box;
      }
  
      .mat-row {
        display: block;
        overflow: hidden;
        height: auto;
        position: relative;
        clear: both;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        background-color: #fff;
        border-radius: 3px;
        + .mat-row {
          margin-top: 24px;
        }
      }
  
      .mat-cell {
        display: block;
        width: 100%;
        padding: 0 16px;
        margin: 5px 0;
        border: 0 none;
        min-height: 0px;
      }
  
      .has_label_on_mobile {
        &:before {
          content: attr(data-label);
          display: inline-block;
          font-weight: normal;
        }
      }
  
      .mat-column-cancelRequest {
        width: auto;
        padding: 8px !important;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        &:before {
          display: none;
        }
      }

      .mat-column-link {
        width: auto;
        padding: 8px  !important;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        &:before {
          display: none;
        }
      }

      .mat-column-code {
        width: auto;
        padding: 8px !important;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 40%;
        &:before {
          display: none;
        }
      }
    }
  
  }
  /*  */

 

 