<div class="error">
	<!-- <img class="wave" src="../../assets/wave.png"> -->
	<div class="container">
		<div class="img">
			<img src="../../../assets/error.svg">
		</div>
		<div class="error-content">
            <div>
                <h3 class="title">Sorry , this page is not available .</h3>
                <h2>The link you followed may be <span style="color: red;">Cancelled, Expired  </span> or  <span style="color: red;">Invalid URL</span></h2>
            </div>
            
        </div>
        
        
	</div>
</div>