<!-- <mat-drawer-cotainer>
    <mat-drawer mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-cotent>
        <router-outlet></router-outlet>
    </mat-drawer-cotent>
</mat-drawer-cotainer> -->


<mat-drawer-container class="example-container">
    <mat-drawer [mode]="(screenWidth > 840) ? 'side' : 'over'" [opened]="isSidebarOpened">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar (toggleSideBar)="sidebarToggler()"></app-navbar>
        <div class="mainContent">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>