:host {
  ngx-flip {
    height: 33vh;
    width: 50vw;
    margin: auto;
  }
}

.disabled {
  cursor: not-allowed;
}

.thirdPartyShareLabel {
  font-weight: 500;
  margin-top: 20px;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  //box-shadow: 0 10px 20px rgba(var(--palette-grey-2-rgb),.15),0 3px 6px rgba(var(--palette-grey-2-rgb),.1);
  max-width: 100%;
  min-height: 20vh;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 25px 0px 25px 0px;
}

.newFolderCard {
  background: #fff;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  // height: 5vh;
  width: 90vw;
  text-align: center;
  padding: 0px;
}

.correct {
  width: 50px;
  height: 50px;
}

.verifyAccText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

.verifyLinkText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 495;
  font-size: medium;
  margin-bottom: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
}

.newFolder {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.sendBtn {
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  margin-top: 15px;
}

.uploadButton {
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  margin: 5px;
}

.uploadBtn {
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  margin-top: 5px;
}

//
.example-full-width {
  width: 35vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: medium;
}

.example-full-width1 {
  width: 15vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: medium;
}

table {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

//++++++++++++++++++++

tr.example-detail-row {
  height: 0;
}

.table-container {
  margin-top: 10px;
  max-height: 500px;
  overflow: auto;
}

tr.example-element-row:not(.example-expanded-row):hover {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

//++++++++++++++++++++

.mat-header-cell {
  font-weight: bold;
}

iframe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.extendDays {
  width: 15vw;
  text-align: center;
  -moz-appearance: textfield;
}

.extendDaysModal {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.increment-input {
  display: block;
  width: 95px;
  font-size: 20px;
  margin: 0 auto;
}

.icon-display {
  transform: scale(1.5);
}

.verifyAccText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

.verifyLinkText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 495;
  font-size: medium;
  margin-bottom: 10px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
.createFolderBtn {
  margin-top: 25px;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

@media only screen and (min-device-width: 1200px) {
  /* styles for Laptop 1200 */
  :host {
    ngx-flip {
      height: 33vh;
      width: 60vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  :host {
    ngx-flip {
      height: 33vh;
      width: 100vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  :host {
    ngx-flip {
      height: 33vh;
      width: 80vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  :host {
    ngx-flip {
      height: 33vh;
      width: 60vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .example-full-width1 {
    width: 90%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: medium;
  }

  .example-full-width {
    width: 90%;
  }
  .extendDays {
    width: 90%;
  }
}

/* word-wrap: break-word !important;
white-space: unset !important;
width: 250px !important;
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto; */

/* .mat-column-vesselName {
  flex: 0 0 10px;
  width: 250px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-right: 10px;
}

.mat-column-name
{
  width: 250px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-right: 10px;

} */
.mat-column-upload,
.mat-column-share,
.mat-column-archiveFolder,
.mat-column-officialNo {
  text-align: center;
  justify-content: center;
}

.mat-column-select,
.mat-column-type,
.mat-column-name,
.mat-column-preview,
.mat-column-sharedDate,
.mat-column-fileSize,
.mat-column-archiveFile {
  text-align: center;
  justify-content: center;
}

.mat-cell {
  margin-left: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
